html,
body {
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
}

#loading_div {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 3;
}

#loaderbox {
  text-align: center;
  border: 1px solid white;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
}

#loaderbox h1 {
  color: rgb(11, 11, 1); /* Changed text color to yellow */
}

.loader {
  border: 16px solid rgb(247,238,5); /* Changed circle color to yellow */
  border-radius: 50%;
  border-top: 16px solid rgb(36, 35, 35); /* Changed circle border color to white */
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Apply the "Bangers" font to headings */
h1, h2, h3 {
	font-family: 'Bangers';
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure it's above the Three.js scene */
    color: white;
    font-family: 'Bangers', sans-serif; /* Use the specified font */
    z-index: 1;
}

#start-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
